<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Words & Arts</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

<!-- Navigation -->
<!--<nav class="navbar navbar-default navbar-custom navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header page-scroll">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--Menu <i class="fa fa-bars"></i>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="index.html">Start Bootstrap</a>-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li>-->
                    <!--<a href="index.html">Home</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="about.html">About</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="post.html">Sample Post</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="contact.html">Contact</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.container &ndash;&gt;-->
<!--</nav>-->

<!-- Page Header -->
 <!--Set your background image for this header on the line below.-->
<header class="intro-header" style="">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" style="color:#333">
                    <h1 >Words & Arts (generated)</h1>
                    <hr class="small">
                    <span class="subheading"> Random word every day and (hopefully) an artwork about it</span>

                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
            <% posts.forEach(function(post) { %>
            <div class="post-preview">
                <!--<a href>-->
                    <h2 class="post-title" style="font-size: 36px;margin-top: 30px;margin-bottom: 10px;">
                        <%= post.word.slice(0,1).toUpperCase()+ post.word.slice(1).toLowerCase()%>
                    </h2>
                <!--</a>-->
                <img style="width:100%" src="<%= post.link %>">
                <p class="post-meta"><%= post.title %></p>
                <hr>
            </div>
            <% }); %>
            <!-- Pager -->
            <ul class="pager">
                <%if (page > 1) { %>
                <li class="previous">
                    <a href="?page=<%= page-1 %>"> &larr; Newer</a>
                </li>
                <% } %>

                <li class="next">
                    <a href="?page=<%= page+1 %>">Older &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--<hr>-->

<!-- Footer -->
<!--<footer>-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">-->
                <!--<ul class="list-inline text-center">-->
                    <!--<li>-->
                        <!--<a href="#">-->
                                <!--<span class="fa-stack fa-lg">-->
                                    <!--<i class="fa fa-circle fa-stack-2x"></i>-->
                                    <!--<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>-->
                                <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                                <!--<span class="fa-stack fa-lg">-->
                                    <!--<i class="fa fa-circle fa-stack-2x"></i>-->
                                    <!--<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>-->
                                <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                                <!--<span class="fa-stack fa-lg">-->
                                    <!--<i class="fa fa-circle fa-stack-2x"></i>-->
                                    <!--<i class="fa fa-github fa-stack-1x fa-inverse"></i>-->
                                <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<p class="copyright text-muted">Copyright &copy; Your Website 2016</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</footer>-->


</body>

</html>