<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= blog.title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

<!-- Page Header -->
<header class="intro-header" style="">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" style="color:#333">
                    <h1 ><%= blog.title %></h1>
                    <hr class="small">
                    <span class="subheading"> <%= blog.description %></span>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
            <% posts.forEach(function(post, index) { %>
                <div class="post-preview" id="<%= post._id %>">

                    <h2 class="post-title" style="font-size: 36px;margin-top: 30px;margin-bottom: 20px;">
                        "<%=  post._roboCaption %>"
                    </h2>

                    <h3 class="post-subtitle" style="margin: 10px 0 10px; font-weight: 300;">
                        - <%= index%2===0? 'thought one robot': 'thought another' %>
                    </h3>

                    <img style="width:100%" src="<%= post.image.link %>">

                    <span class="post-meta">Word: <%= post.word %> </span><br>

                    <!-- TAGS-->
                    <%if (post._tags && post._tags.length) { %>
                        <span class="post-meta">Tags:
                            <% post._tags.forEach(function(tag,i) { %>
                                <a href="#<%= post._id %>"><%= tag %></a>
                            <%if (post._tags[i+1]) { %>, <% } %>
                            <% }); %>
                        </span><br>
                    <% } %>

                    <span class="post-meta">Source: <a target="_blank" href="<%= post.image.source %>"><%= post._sourceCaption %></a></span>

                    <hr>
                </div>
            <% }); %>

            <!-- Pager -->
            <ul class="pager">
                <%if (hasNewer) { %>
                    <li class="previous"><a href="?page=<%= page-1 %>"> &larr; Newer</a> </li>
                <% } %>

                <%if (hasOlder) { %>
                    <li class="next"><a href="?page=<%= page+1 %>">Older &rarr;</a> </li>
                <% } %>
            </ul>

        </div>
    </div>
</div>

</body>

</html>